extends layout2

block content
    form(action='/prices/prices_add', method='POST')
      title ADD Price
      .register-page
        .form
          p(style= 'color: white; font-size: 18px') Προσθέστε τα στοιχεία!
          input(type='number', placeholder='Τιμή προσφοράς', name='price_in')
          label Ημερομηνία (από):
          input#dateFrom(type='date',value='dateFrom', name='dateFrom')
          label Ημερομηνία (μέχρι):
          input#dateTo(type='date',value='dateTo', name='dateTo')
          
          label(for='product_select') Προιόν
            select#product_select(name='product_select', value='product_select')
              option(value='')  --- 
              if Product
                each sha, i in Product
                  option(value=sha.id)  #{sha.name} #{sha.id}
          
          label(for='shop_select') Κατάστημα
            select#shop_select(name='shop_select', value='shop_select')
              option(value='')  --- 
              if Shop
                each sh, i in Shop
                  option(value=sh.id)  #{sh.name} #{sh.id}
          button Προσθήκη
