doctype html

html
  head
    link(rel='stylesheet', href='css/homepage.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

block content
  title Home
  br
  footer
      p(class="bottom") Copyright &copy; Online Price Tracker 2018

  body



      if Product
        each prod, i in Product
          #narrow
            div(class="display_products")
              div(class="display_products")
                div  Όνομα Προϊόντος: #{prod.name}
                div  Περιγραφή: #{prod.description}
                  form#myform(action='/products/product_details', method='POST')
                    button(name='subject', type='submit', value=prod.id) Προβολή περισσότερων
   
  #navbar  
                      a.active(href='/')
                        i.glyphicon.glyphicon-home
                     
                      a(href='#contact') Επικοινωνία
                      if boollogin
                        if username=="admin" 
                             a(href='/products/products_delete') Διαγραφή Προιόντος         
                        
                        a(href='/products/myproducts') Τα Προιόντα μου
                        a(href='/products/products_add') Προσθήκη Προιόντος
                        a(href='logout', style='float:right') logout
                        a(style='float:right') #{username}
                      else
                              a(href='login', style='float:right') Σύνδεση
                              a(href='register', style='float:right') Εγγραφή
          
  .sidenav
    div
      form(action='/products',method = 'POST')
        label#label1 Αναζήτηση
        input#productname(type='text',  placeholder='Όνομα προϊόντος..') 
        input#distance(type='number', value='distance', name='distance', min='0', placeholder='Μέγιστη απόσταση..')
        label Ημερομηνία (από):
        input#dateFrom(type='date',value='dateFrom', name='dateFrom')
        label Ημερομηνία (μέχρι):
        input#dateTo(type='date',value='dateTo', name='dateTo')

        input#category(type='text', placeholder='Κατηγορία..')
        input#tags(type='text', placeholder='Tags..')  
        label(for='shop_select') Κατάστημα
          select#shop_select(name='shop_select', value='shop_select')
            option(value='')  --- 
            if Shop
              each sh, i in Shop
                option(value='sh_name')  #{sh.name}        
        label(for='sort') Ταξινόμηση
            select#sort(name='sort', value='sort')
                option(value='ASC')  Τιμή αύξουσα
                option(value='DESC')  Τιμή φθίνουσα
        input#subb(type='submit', value='Αναζήτηση')
      


      


        script.
          var prevScrollpos = window.pageYOffset;
          window.onscroll = function() {
          var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
          document.getElementById("navbar").style.top = "0";
          } else {
          document.getElementById("navbar").style.top = "-50px";
          }
          prevScrollpos = currentScrollPos;
          }
          
      
