doctype html

html
  head
    link(rel='stylesheet', href='css/homepage.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    

block content
  title Home
  br
  footer
      p(class="bottom") Copyright &copy; Online Price Tracker 2018

  body





      if Product
        each prod, i in Product
          #narrow
            div(class="display_products")
              div(class="display_products")
                div  Όνομα Προϊόντος: #{prod.productName}
                div  Τιμή: #{prod.price}
                div Μαγαζί: #{prod.shopName}
                  form#myform(action='/products/product_details', method='POST')
                    button(name='subject', type='submit', value=prod.productId) Προβολή περισσότερων
                  form#myform(action='/products/product_details', method='POST')
                    input(type='hidden', name='lat_in',  value=)
                    input(type='hidden', name='lng_in', value=)
                    button(name='subject', type='submit', value=prod.productId) Προβολή περισσότερων   
  #navbar
                      a.active(href='/')
                        i.glyphicon.glyphicon-home
                     
                    
                      if boollogin
                        .dropdown(style='float:left')
                         button.dropbtn.span.glyphicon.glyphicon-plus
                         .dropdown-content
                           a(href='/shops/add') Προσθήκη Καταστήματος
                           a(href='/products/products_add') Προσθήκη Προιόντος
                           a(href='/prices/prices_add') Προσθήκη Τιμής
                        if username=="admin" 
                          .dropdown(style='float:left')
                           button.dropbtn.span.glyphicon.glyphicon-minus
                           .dropdown-content
                             a(href='/products/products_delete') Διαγραφή Προιόντος
                             a(href='/shops/delete') Διαγραφή Καταστήματος  
                             a(href='/prices/prices_delete') Διαγραφή Τιμής       
                        

                           
                        .dropdown(style='float:left')
                         button.dropbtn.span.glyphicon.glyphicon-search
                         .dropdown-content
                           a(href='/products') Αναζήτηση Προιόντος
                           a(href='/shops/search') Αναζήτηση Καταστήματος
                        a(href='logout', style='float:right') logout
                        
                        .dropdown
                         button.dropbtn #{username}
                         .dropdown-content
                           a(href='/products/myproducts') Τα Προιόντα μου
                           if username=="admin" 
                             a(href='/shops/update') Update Καταστήματος
                      else
                        .dropdown(style='float:left')
                         button.dropbtn Αναζήτηση
                         .dropdown-content
                           a(href='/products') Αναζήτηση Προιόντος
                           a(href='/shops/search') Αναζήτηση Καταστήματος
                        a(href='login', style='float:right') Σύνδεση
                        a(href='register', style='float:right') Εγγραφή

          
  .container
    .sidenav(class='visible-lg') 
      div
        form(action='/products',method = 'POST', class='visible-lg')
          label#label1 Αναζήτηση
          input#productname(type='text',  placeholder='Όνομα προϊόντος..',name='productname') 
          input#distance(type='number', value='distance', name='distance', min='0', placeholder='Μέγιστη απόσταση..')
          label Ημερομηνία (από):
          input#dateFrom(type='date',value='dateFrom', name='dateFrom')
          label Ημερομηνία (μέχρι):
          input#dateTo(type='date',value='dateTo', name='dateTo')

          
          input#tags(type='text', placeholder='Tags..', name='tags')  
          label(for='shop_select') Κατάστημα
            select#shop_select(name='shop_select', value='shop_select')
              option(value='')  --- 
              if Shop
                each sh, i in Shop
                  option(value=sh.id)  #{sh.name}        
          label(for='sort') Ταξινόμηση
              select#sort(name='sort', value='sort')
                  option(value='price|ASC')  Τιμή αύξουσα
                  option(value='price|DESC')  Τιμή φθίνουσα
              script.
              	
                  getLocation();                 
                  function getLocation() {
                  if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(showPosition);
                  } else {
                  x.innerHTML = "Geolocation is not supported by this browser.";
                  }
                  }
                  function showPosition(position) {
                  var out1 = position.coords.latitude;
                  var out2 = position.coords.longitude;
                  document.getElementById("myLink").value=out1;
                  document.getElementById("myLink2").value=out2;
                  }
   	  	
          input(type='hidden', name='lat_in', id="myLink", value='5')
          input(type='hidden', name='lng_in',id="myLink2" value='5')
          input#subb(type='submit', value='Αναζήτηση')
            

    #mySidenav.sidenav(class='visible-md',style='background-color:#0f0f0f')  
      div
        a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
        form(action='/products',method = 'POST', class='visible-md')
          input#productname(type='text',  placeholder='Όνομα προϊόντος..',name='productname') 
          input#distance(type='number', value='distance', name='distance', min='0', placeholder='Μέγιστη απόσταση..')
          label Ημερομηνία (από):
          input#dateFrom(type='date',value='dateFrom', name='dateFrom')
          label Ημερομηνία (μέχρι):
          input#dateTo(type='date',value='dateTo', name='dateTo')
          input#tags(type='text', placeholder='Tags..', name='tags')  
          label(for='shop_select') Κατάστημα
            select#shop_select(name='shop_select', value='shop_select')
              option(value='')  --- 
              if Shop
                each sh, i in Shop
                  option(value=sh.id)  #{sh.name}        
          label(for='sort') Ταξινόμηση
              select#sort(name='sort', value='sort')
                  option(value='price|ASC')  Τιμή αύξουσα
                  option(value='price|DESC')  Τιμή φθίνουσα
          input#subb(type='submit', value='Αναζήτηση')

  
    #mySidenav1.sidenav(class='visible-sm',style='background-color:#0f0f0f')  
      div
        a.closebtn(href='javascript:void(0)', onclick='closeNav1()') ×
        form(action='/products',method = 'POST', class='visible-sm')
          input#productname(type='text',  placeholder='Όνομα προϊόντος..',name='productname') 
          input#distance(type='number', value='distance', name='distance', min='0', placeholder='Μέγιστη απόσταση..')
          label Ημερομηνία (από):
          input#dateFrom(type='date',value='dateFrom', name='dateFrom')
          label Ημερομηνία (μέχρι):
          input#dateTo(type='date',value='dateTo', name='dateTo')
          input#tags(type='text', placeholder='Tags..', name='tags')  
          label(for='shop_select') Κατάστημα
            select#shop_select(name='shop_select', value='shop_select')
              option(value='')  --- 
              if Shop
                each sh, i in Shop
                  option(value=sh.id)  #{sh.name}        
          label(for='sort') Ταξινόμηση
              select#sort(name='sort', value='sort')
                  option(value='price|ASC')  Τιμή αύξουσα
                  option(value='price|DESC')  Τιμή φθίνουσα
          input#subb(type='submit', value='Αναζήτηση')


    #mySidenav2.sidenav(class='visible-xs',style='background-color:#0f0f0f')  
      div
        a.closebtn(href='javascript:void(0)', onclick='closeNav2()') ×
        form(action='/products',method = 'POST', class='visible-xs')
          input#productname(type='text',  placeholder='Όνομα προϊόντος..',name='productname') 
          input#distance(type='number', value='distance', name='distance', min='0', placeholder='Μέγιστη απόσταση..')
          label Ημερομηνία (από):
          input#dateFrom(type='date',value='dateFrom', name='dateFrom')
          label Ημερομηνία (μέχρι):
          input#dateTo(type='date',value='dateTo', name='dateTo')
          input#tags(type='text', placeholder='Tags..', name='tags')  
          label(for='shop_select') Κατάστημα
            select#shop_select(name='shop_select', value='shop_select')
              option(value='')  --- 
              if Shop
                each sh, i in Shop
                  option(value=sh.id)  #{sh.name}        
          label(for='sort') Ταξινόμηση
              select#sort(name='sort', value='sort')
                  option(value='price|ASC')  Τιμή αύξουσα
                  option(value='price|DESC')  Τιμή φθίνουσα
          input#subb(type='submit', value='Αναζήτηση')
            
  span(style='padding-left: 0px; font-size:25px;cursor:pointer; top:90px; position:absolute;  color: white', class='visible-sm' , onclick='openNav1()') &#9776; Αναζήτηση
  span(style='padding-left: 0px; font-size:25px;cursor:pointer; top:90px; position:absolute;  color: white', class='visible-md' , onclick='openNav()') &#9776; Αναζήτηση
  span(style='padding-left: 0px; font-size:25px;cursor:pointer; top:90px; position:absolute;  color: white', class='visible-xs' , onclick='openNav2()') &#9776; Αναζήτηση

      


        script.
          var prevScrollpos = window.pageYOffset;
          window.onscroll = function() {
          var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
          document.getElementById("navbar").style.top = "0";
          } else {
          document.getElementById("navbar").style.top = "-50px";
          }
          prevScrollpos = currentScrollPos;
          }
          
        script.
          function openNav() {
          document.getElementById("mySidenav").style.width = "200px";
          }
          function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          }
        
        script.
          function openNav1() {
          document.getElementById("mySidenav1").style.width = "200px";
          }
          function closeNav1() {
          document.getElementById("mySidenav1").style.width = "0";
          }
          
        script.
          function openNav2() {
          document.getElementById("mySidenav2").style.width = "200px";
          }
          function closeNav2() {
          document.getElementById("mySidenav2").style.width = "0";
          }
      
      
