extends layout

block content
  form(action='/product_details', method='GET')
    title Details
      .details-page

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

        body


        #parent

          if Product
            each prod, i in Product
              div(class="display_products")
                div  Όνομα Προϊόντος: #{prod.name}
                div  Περιγραφή: #{prod.description}
                a(href='product_details') Προβολή λεπτομερειών



          if Product
            each prod, i in Product
              div(class="display_products")
                div  Όνομα Προϊόντος: #{prod.name}
                div  Περιγραφή: #{prod.description}

                #wide Wide (rest of width)
                #narrow Narrow (200px)

        .right1
            if Product
              each prod, i in Product
                div(class="display_products")
                  div  Όνομα Προϊόντος: #{prod.name}
                  div  Περιγραφή: #{prod.description}
            if Product
              each prod, i in Product
                  div(class="display_products")
                  div  Όνομα Προϊόντος: #{prod.name}
                  div  Περιγραφή: #{prod.description}


        #navbar
            a.active(href='/')
              i.glyphicon.glyphicon-home
                
            if boollogin
              if username=="admin" 
                .dropdown(style='float:left')
                 button.dropbtn Διαγραφή
                 .dropdown-content
                   a(href='/products/products_delete') Διαγραφή Προιόντος
                   a(href='/shops/delete') Διαγραφή Καταστήματος         
                  
              .dropdown(style='float:left')
               button.dropbtn Προσθήκη
               .dropdown-content
                 a(href='/shops/add') Προσθήκη Καταστήματος
                 a(href='/products/products_add') Προσθήκη Προιόντος
                 a(href='/prices/prices_add') Προσθήκη Τιμής
                     
              .dropdown(style='float:left')
               button.dropbtn Αναζήτηση
               .dropdown-content
                 a(href='/products') Αναζήτηση Προιόντος
                 a(href='/shops/search') Αναζήτηση Καταστήματος
              a(href='logout', style='float:right') logout
              
              .dropdown
               button.dropbtn #{username}
               .dropdown-content
                 a(href='/products/myproducts') Τα Προιόντα μου
                 if username=="admin" 
                   a(href='/shops/update') Update Καταστήματος
            else
              .dropdown(style='float:left')
               button.dropbtn Αναζήτηση
               .dropdown-content
                 a(href='/products') Αναζήτηση Προιόντος
                 a(href='/shops/search') Αναζήτηση Καταστήματος
              a(href='login', style='float:right') Σύνδεση
              a(href='register', style='float:right') Εγγραφή
